.con {
    margin-left: 250px;
    padding: 20px;
}

.main {
    max-width: 100%;
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submain {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: #000000;
    font-size: 2em;
}



form.search input[type=text] {
    box-sizing: border-box;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 100%;
    background: #f1f1f1;
    margin-bottom: 20px;
}

.product-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 95%;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-box img {
    width: 20%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.product-info {
    flex: 1;
}

.product-info h3 {
    margin: 5px 0;
}

.product-info p {
    margin: 5px 0;
    font-size: 14px;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details p {
    color: #000;
    margin: 5px 0;
    font-size: 15px;
    flex: 1;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons button {
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}


.but {
    width: 90px;
    text-align: center;
    background-color: #fff;
    color: #00d912;
    border: 1px solid #00d912;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.but:hover {
    background-color: #00d912;
    color: #fff;
}

.del {
    width: 90px;
    background-color: #e8664f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.del:hover {
    background-color: #d90000;
}