.page {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.status-filter {
    display: flex;
    align-items: center;
}

label {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 1rem;
}

select {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
}
